<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../static/images/style.css">
    <meta charset="UTF-8">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../static/images/style.css">
    <title>About Game</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="../static/images/logov2.jpg" alt="The Ball Game" height="36">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home page<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index">Game<span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/High_score">High scores <span class="sr-only"></span></a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/About_game">About game</a>
      </li>
    </ul>
  </div>
</nav>
<body>
<div class="header">
  <img src="../static/images/TheBallLogo.png" alt="The Ball Game Logo"><br>
  <a href="/About_game_pl" class="btn btn-success">Polish</a><br><br>
</div>
<div style="font-family: 'Gill Sans Extrabold', serif;">
<h1 id= about_header>Welcome in The Ball Game!</h1><hr>
<p id= about>A game of soccer to a single player game. Colorful balls pop in
  random slots for blueprints after each move. Apparently you are
  arranging three balls of the same color on one line. If you can do it
  You gain extra traffic. The game continues until all boxes are on
  the game boards will be filled with marbles. You can choose from four levels.
</p>
  <p id=cursive style="color:Green">Easy</p>
  <p id="about">The simplest level, the balls appear individually in 3 colors</p>
  <p id="cursive" style="color:#fcba03">Medium</p>
  <p id="about">Level a bit harder than Easy. Although the balls appear singly, they have 4 colors</p>
  <p id="cursive" style="color:DarkRed">Hard</p>
  <p id="about">The most difficult level in which only one ball appears at a time. There are already 5 ball colors here</p>
  <p id="cursive">Expert</p>
  <p id="about">For real experts on The Ball Game. The appearing balls have 5 colors. At this level, as many as 3 balls appear after your every move. Think carefully about every move, one mistake can end the game</p>
</div>
</body>
<div class="footer">
  <p id="team">Katarzyna Biegan-Wójtowicz &emsp;|&emsp; Marcelina Łukasik &emsp;|&emsp;Konrad Kiryluk &emsp;|&emsp; Krzysztof Bednarz</p>
</div>
</html>