<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../static/images/style.css">
    <meta charset="UTF-8">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../static/images/style.css">
    <title>About Game</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="../static/images/logov2.jpg" alt="The Ball Game" height="36">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home page<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index">Game<span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/High_score">High scores <span class="sr-only"></span></a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/About_game">About game</a>
      </li>
    </ul>
  </div>
</nav>
<body>

<div class="header">
  <img src="../static/images/TheBallLogo.png" alt="The Ball Game Logo"><br>
  <a href="/About_game" class="btn btn-success" >English</a>
</div>
<br>
<div style="font-family: 'Gill Sans Extrabold', serif;">
<h1 id= about_header>Witaj w The Ball Game!</h1><hr>
<p id= about>The Ball game to gra jednoosobowa. Kolorowe kulki wyskakują w
  losowych miejscach na planszy po każdym Twoim ruchu. Twoim zadaniem jest
  ułożenie trzech kulek tego samego koloru w jednej linii. Jeśli Ci się to uda
  zyskujesz dodatkowy ruch. Gra toczy się do momentu aż wszystkie pola na
  planszy wypełnią się kulkami. Do wyboru masz cztery poziomy trudności.</p>
  <p id=cursive style="color:Green">Łatwy</p>
  <p id="about">Najprostszy poziom, kulki pojawiają się pojedynczo w 3 kolorach.</p>
  <p id="cursive" style="color:#fcba03">Średnium</p>
  <p id="about">Poziom nieco trudniejszy niż Easy. Mimo iż kulki pojawiają się pojedynczo to mają 4 kolory.</p>
  <p id="cursive" style="color:DarkRed">Trudny</p>
  <p id="about">Najtrudniejszy z poziomów w którym na raz pojawia się nylko jedna kulka. Tutaj pojawia się już 5 kolorów kulek.</p>
  <p id="cursive">Ekspert</p>
  <p id="about">Dla prawdziwych ekspertów The Ball Game. Pojawiające się kulki mają 5 kolorów. Na tym poziomie po każdym Twoim ruchu pojawiają się aż 3 kulki. Dobrze przemyśl każde posunięcie, jeden błąd może zakończyć grę.</p>
</div>
</body>
<div class="footer">
  <p id="team">Katarzyna Biegan-Wójtowicz &emsp;|&emsp; Marcelina Łukasik &emsp;|&emsp;Konrad Kiryluk &emsp;|&emsp; Krzysztof Bednarz</p>
</div>
</html>
